body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h1, h2 {
  color: #333;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.delete{
  background-color: red;
}

.update{
  background-color: yellow;
  color: black;
}

.delete:hover {
  background-color: brown;
}

.update:hover {
  background-color: darkgoldenrod;
  color: white;
}

form {
  margin-top: 20px;
}

form input, form select {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button,.filter {
  background-color: #28a745;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}

form button:hover {
  background-color: #218838;
}

.filter-button {
  background-color: #007bff;
}

.filter-button:hover {
  background-color: #0056b3;
}

.paging-button {
  background-color: #6c757d;
}

.paging-button:hover {
  background-color: #5a6268;
}

.filter-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-input {
  width: calc(100% - 22px);
  box-sizing: border-box;
}
