body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

h1, h2 {
  color: #333;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.delete{
  background-color: red;
}
.update{
  background-color: yellow;
  color: black;
}

.delete:hover {
  background-color:brown;
}
.update:hover {
  background-color:darkgoldenrod;
  color: white;
}
form {
  margin-top: 20px;
}

form input {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

form button {
  background-color: #28a745;
}

form button:hover {
  background-color: #218838;
}
